@if(!isLogout){
<div class="dropdown mb-2 float-end">
    <button class="btn  btn-outline-secondary" type="button" id="settingsMenuButton" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="bi bi-gear"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="settingsMenuButton">
        <li><a class="dropdown-item text-danger" (click)="onClickLogout()" href="/login">Logout</a></li>
    </ul>
</div>
}
<app-custom-loader *ngIf="loading"></app-custom-loader>

<router-outlet></router-outlet>